<section class="posts-cards">
  <div>
    <h1>{{post_title}}</h1>
    <p class="posts"><a class="trees" href="/post/{{id}}">{{post_content}}</a> </p>
    <p class="posts-dates">{{format_date post_date}}</p>
  </div>
</section>