<section class="dash-card">
    <form class="form-group post-form" id="post-form">
        <div>
            <label for="title">Title</label>
            <input class="form-input title" placeholder="Title of your post" type="title" id="post-title" />
        </div>
        <div>
            <label for="comment">Make a Post</label>
            <input class="form-input textarea" placeholder="What's on your mind?" type="comment" id="post-content" />
        </div>
        <div>
            <button class="btn">Enter</button>
        </div>
    </form>
</section>
<section class="dash-card">
    <div>
        <h1>{{user.username}}'s posts</h1>
        {{#each user.posts as |post|}}
        {{> dashboard-posts}}
        {{/each}}
    </div>
</section>