<section class="card">
<div>
    <h1>{{post.post_content}}</h1>
    <p>Posted on {{format_date post.post_date}}</p>
    <h4>Comments</h4>
</div>
<div>
{{#each post.comments as |comment|}}
{{> user-details}}
{{/each}}
<p><a href='/user/{{post.user_id}}'>More Posts</a></p>
</div>
</section>